<%- include partials/head %>

<h1><%= name %></h1>
<form method="POST" action="/<%= gameID%>/<%= playerID %>" >
  <button id="bigredbutton"></button>
  <input type="hidden" name="playerID" value="<%= playerID %>">
</form>
